# Ignore useless files
__pycache__/

lib/
lib64/

task_files/

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# created files
*.json

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/